{% extends 'adminpages/adminbase.html' %}
{% block title %}Admin Home{% endblock %}

{% block content %}
<h1 class="text-center">Welcome Mr. {{request.user.username}}</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Pending Orders</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>S.N.</th>
                        <th>Customer</th>
                        <th>Order ID</th>
                        <th>Ordered On</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ord in pendingorders %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{ord.ordered_by}}</td>
                        <td><a href="{% url 'ecomapp:adminorder' ord.id %}">#ORDER_{{ord.id}}</a></td>
                        <td>{{ord.created_at}}</td>
                        <td>{{ord.total}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>




{% endblock %}